---
vagrant:
  synced_folders:
    - host: "/Users/username/Sites/training/htdocs"
      guest: /var/www/training/htdocs
      type: nfs
    - host: "/Users/username/Sites/training/tests"
      guest: /var/www/training/tests
    - host: "/Users/username/.drush/aliases"
      guest: /etc/drush
ansible:
  reroute_email: username@limoengroen.nl
